*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.todoList{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px 0px;
}

.todoList .taskList{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todoList .taskList .notList,
.todoList .taskList .listCompleted{
    margin: 50px;
    padding: 10px;
    width: 400px;
}

.todoList .addTask>input[type="text"]{
    padding: 10px 20px;
    width: 500px;
    border-radius: 5px;
    border: 1px solid #000000;
    outline: none;
}

.todoList .addTask>button{
    padding: 10px 20px;
    border: 1px solid #000000;
    border-radius: 5px;
    cursor: pointer;
}

.taskList .notList,
.taskList .listCompleted{
    text-align: center;
}

.taskList .notList ul,
.taskList .listCompleted ul{
    list-style: none;
    counter-reset: my-count;
}

.taskList .notList ul li,
.taskList .listCompleted ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    background-color: pink;
    padding: 20px;
    margin: 5px;
    counter-increment: my-count;
}

.taskList .notList ul li p::before,
.taskList .listCompleted ul li p::before{
    content: counter(my-count);
}

.taskList .listCompleted ul li{
    background-color: greenyellow;
}

.taskList .notList ul li button,
.taskList .listCompleted ul li button{
    background-color: rgba(255, 255, 255, 0);
    border: none !important;
    outline: none;
    margin: 5px;
    font-size: 18pt;
    line-height: 18px;
    cursor: pointer;
}




