#logo {
  width: 100;
  height: 100px;
  margin: 20px 0px;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: pink;
  padding: 30px;
  border-radius: 10px;
}

.login form input{
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: 2px solid #ffffff;
}

.login form label{
    background: pink;
    padding: 10px;
}

.login form button[type="submit"]{
    padding: 5px 20px;
    border: 2px solid turquoise;
    background: turquoise;
    border-radius: 10px;
}