
body{
  background-color: #00ced1;
}
.App{
  background-color: #191970;
  min-height: 500px;
  width: 400px;
  margin: 40px auto;
}

#to-do-form{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
}

#to-do-form input{
  background-color: #00fa9a;
  border: 0;
  width: 250px;
  height: 50px;
  padding: 0 20px;
  border-radius: 10px;
  color: #000;
  outline: none;
}

#to-do-form button{
  height: 50px;
  width: 80px;
  border-radius: 5px;
  border: 0;
  background-color: brown;
  cursor: pointer;
  outline: none;
}