@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;700;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Poppins', sans-serif; 
}

.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination li{
  list-style: none;
  margin: 10px;
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
  background: pink;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.pagination li a{
  color: #000000;
  text-decoration: none;
}