
.list{
    color: #fff;
    width: 300px;
    margin: 20px auto;
    height: 50px;
    background-color: pink;
    border-radius: 5px;
}
.list p{
    padding: 10px;
    position: relative;
    transition: ease-in-out;
}

.list p input{
    width: 250px;
    height: 20px;
    background: rgba(255,255,255,0);
    border: none;
}

.list p span{
    cursor: pointer;
}